@import './variables';
@import './responsive';

.container{
    display: block;
    margin: 0;
    padding-left: 20px ;

    @include tablet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}
h3{
    font-weight: bold;
    font-size: 45px;
}
.container-head{
    margin: auto;

    @include tablet{
        display: flex;
        justify-content: space-between;
    }
}
.head-section{

    @include tablet{
       width: 30%;
       position: relative;
       top: 40px;
    }
}
.section-intro{
    font-weight: bold;
}
.images-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70%;
    width: 100%;
    padding: 30px;

    @include tablet{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}
img{
    height: $img-height;
    width: $img-width ;
}
.image-2{
    position: relative;
    top: 50px;
}
.image-4{
    position: relative;
    top: 50px;

    @include tablet{
        position: static;
    }
}
.image-6{
    position: relative;
    top: 50px;
    @include tablet{
        position: static;
    }
}
.image-5{
    @include tablet{
        position: relative;
        top: 50px;
    }
}
.positions{
    position: relative;
    bottom: 110px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-size: 10px;

}
.name{
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
    bottom: 20px;
}

footer{
    position: relative;
    bottom: 0;
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
    color: darkgray;
}


